/*videoSettings*/
#videoBackGround {
  height: 100%;
  width: 100%;
  position: absolute;
  min-height: 840px !important;
  bottom: 0px;
  top: 0px;
}

video {
   margin: auto;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  visibility: visible;
  width: 2024px;
  height: auto;
}


#cocinArte
{
    height: 100%;
    min-height: 840px !important;
    overflow: hidden;
}

/*FontFamily*/
@font-face {
    font-family: "LavanderiaSturdy.otf";
    src: url(../fonts/LavanderiaSturdy.otf) ;
}



#Titulo {
    color:  #fff;
    font-family: "LavanderiaSturdy.otf";
    font-size:180px;
    margin-top: 10%;
    text-align: center;
}

#TituloPostres {

    color:  #000;
    font-family: "LavanderiaSturdy.otf";
    font-size:30px;
    text-align: center;
}

#Second
{
height: 1000px;
}
#thumbnailContainer
{

position: absolute;
background-image: url("../media/backgroundPostre.jpg");
background-repeat: no-repeat;
height: 1000px;
}

#top
{
  margin:10px;
margin-top:50px;

}

.Center{
  text-align:center;
}

#First
{
      height: 926px;

}
#Third
{
 position: absolute;
height: 1000px;
width: 100%;

}
#LoQueMeGusta { 
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 16px;
  position:relative;
}


#centralizador{
  text-align: center;
}

section.module.parallax h1 {
    font-size: 140px;
  }

/*College style*/
.pass
{
  color: rgb(70, 205, 70);
}
.no-pass
{
  color:rgb(200, 21, 21);;
}
.not-today
{
  color:rgb(245, 168, 0);
}












