#video-container {
  position: absolute;
}
#video-container {
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  overflow: hidden;
}
video {
  position:absolute;
  z-index:0;
}
video.fillWidth {
  height: 100%;
}
@font-face {
    font-family: "LavanderiaSturdy.otf";
    src: url(../fonts/LavanderiaSturdy.otf) ;
}

#Titulo {
    color:  #fff;
    font-family: "LavanderiaSturdy.otf";
    font-size:180px;
    margin-top: 10%;
    text-align: center;
}

#TituloPostres {

    color:  #000;
    font-family: "LavanderiaSturdy.otf";
    font-size:30px;
    text-align: center;
}

#Second
{
height: 1000px;
}
#thumbnailContainer
{

position: absolute;
background-image: url("../media/backgroundPostre.jpg");
background-repeat: no-repeat;
height: 1000px;
}

#top
{
  margin:10px;
margin-top:50px;

}

.Center{
  text-align:center;
}

#First
{
      height: 926px;

}
#Third
{
 position: absolute;
height: 1000px;
width: 100%;

}
#LoQueMeGusta { 
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 16px;
  position:relative;
}


#centralizador{
  text-align: center;
}

section.module.parallax h1 {
    font-size: 140px;
  }


 @media screen and (max-width:320px) {
  #LoQueMeGusta {
display: none;
  }

  section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 40px; 
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

}

@media screen and (min-width:321px) and (max-width:639px) {
#LoQueMeGusta {
display: none;
  }
  section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 40px !important;  
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
}

@media screen and (min-width:640px) and (max-width:959px) {

#LoQueMeGusta {
display: none;
  }
  section.module.parallax h1 {
    font-size: 70px;
  }

}

.pass
{
  color: rgb(70, 205, 70);
}


.no-pass
{
  color:rgb(200, 21, 21);;
}
.not-today
{
  color:rgb(245, 168, 0);
}












